doctype html
<!--[if IE 8]><html class='ie8'><![endif]-->
<!--[if IE 9]><html class='ie9'><![endif]-->
//- 条件注释(不会显示在html中)
<!--[if !IE]><!--><html><!--<![endif]-->
//- define variable;定义变量
- var author = 'sam'
html
  head
    meta(charset='utf-8')
    //- use variable;使用变量
    title first jade file of #{ author[0].toUpperCase() + author.substr(1)}
    style.
      body {
        color: orange
      }
    script.
      var course = 'jade';
      console.log(course);
  body
    h1#title.title.title1 Hello World!
    // p this is a singleline comment;单行注释(会显示在html中)
    //- this is a block comment;块注释(不会显示在html中)
      xxx
      qwew
      qwe
    //- 非缓冲注释
    //- nested tag;标签嵌套
    section
      div(id="asd", class="hello")
        #id.class
    ul
    strong
    hr
    br
    //- properties write in (),split by ,
    a(href='www.so.com', title='so', data-uid='qwe') link
    //- 属性写在()中，多个属性以,分隔
    input(name='course', type='text', value='qwe')
    input(name='course', type='checkbox', checked)
    //- 多段文本
    p.
      1.aa<strong>11</strong>
      2.bb
    //- 多段文本
    p
      | 3.cc
      <span>22</span>
      | 4.dd
    - var data = 'text'
    //- string in variable will escape;变量中的字符自动转义
    - var html = '<script>alert(0)</script><span>script</span>'
    p #{data}
    p= data
    p #{html}
    p= html
    //- use !{}, avoid escape;
    p !{html}
    p!= html

    //- input # and !
    p \#{data}
    p \!{data}
    //- variable not defined is undefined
    input(value='#{definenot}')
    //- use property=variable
    input(value=definenot)
</html>